body {
    background-color: black;
    font-family: Verdana, serif;
    text-align: center;
    font-weight: normal;
    color: white;
}
h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: gray;
}
.download {
    font-size: 16px;
    color: aquamarine;
}

img {
    width: min(500px, 90vw);
}

.icon img{
    width: min(50px, 90vw);
}

.copyright {
    text-align: right;
    color: gray;
}